
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo Asset Management App</h2>
        </div>
        <p class='oe_mt32'>
A simple and independent App from BroadTech IT Solutions to manage the assets owned by an organization. 
It helps to capture, organize and analyse Asset related information without much complications. 
Movements of Assets between different locations are captured separately, which helps to track the entire history of an asset during its life cycle. 
Instead of removing an asset from the system and erasing its past, the deprecated assets are moved into a virtual location named "Scrap", so that the record and its history will be available in the system for ever. 
This app has no connection with Odoo accounting applications. </p>
	
	<div class="oe_span6">
        <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
        </div>
    </div>
	
	<div class="oe_span6">
	 <p class="oe_mt32">
	The Asset form captures purchase and warranty related information. During the creation of an asset, current location of the asset will be set, which cannot be changed directly after the creation.
	 </p>
     </div>
            
    
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
 Critical information changes  like purchase price, purchase date etc will be logged as notes along with the asset record.   
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        
        <div class="oe_span6">
            <p class="oe_mt32">
     For organizations having multiple branches, the locations can be those branches. Locations can also be physically separated places in the same organization, similar to Odoo stock locations.     
            </p>
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
Locations also keep history of the asset moves happened within each location.              
	</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image5.png">
            </div>
        </div>
        
        <div class="oe_span6">
            <p class="oe_mt32">
	Assets are moved from one location to another using the  Asset move option.             </p>
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
	 The list view of the asset move allows analysis of the moves on the basis of Asset and Location.              
	</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image6.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image7.png">
            </div>
        </div>
        
        <div class="oe_span6">
            <p class="oe_mt32">
	 Asset Scraping is done with the help of a button in the asset form, which automatically moves the asset from its present location to scrap location. Scrap location is a virtual location configured in the system. There can be only one scrap location. 	  
          </p>
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
	 Odoo Group By feature allows users to have quick review of the assets based on their location, category etc.              
	</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image8.png">
            </div>
        </div>
        
        <p class="oe_mt32 ">The following link provides a quick overview of the module functionality 
    <a href="https://www.youtube.com/watch?v=1qCITugj3lQ&feature=youtu.be">Asset Management.</a>
    </p>    
    <p class='oe_mt32 oe_spaced'>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        
       
        
    </div>
</section>

